<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kendo.security.mapper.PrincipalMapper">

    <!-- PRINCIPAL RESULTMAP -->
    <resultMap id="principalResultMap" type="principal">
        <id property="id" column="ID" jdbcType="INTEGER"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="username" column="USERNAME" jdbcType="VARCHAR"/>
        <result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
        <collection property="roles" ofType="principalRole" columnPrefix="ROLE_">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="name" column="NAME" jdbcType="VARCHAR"/>
            <result property="roleName" column="ROLE_NAME" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <!-- PRINCIPAL SELECT -->
    <select id="selectByUsername" parameterType="string" resultMap="principalResultMap">
        SELECT
            user.ID,
            user.NAME,
            user.USERNAME,
            user.PASSWORD,
            role.ID        AS ROLE_ID,
            role.NAME      AS ROLE_NAME,
            role.ROLE_NAME AS ROLE_ROLE_NAME
        FROM user
            join role_user
                on user.USERNAME = role_user.USERNAME
            join role
                on role_user.ROLE_NAME = role.ROLE_NAME
        WHERE user.USERNAME = #{username,jdbcType=VARCHAR}
              AND user.IS_VALID = 1
              AND user.IS_STATUS = 1
    </select>
</mapper>