<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kendo.security.mapper.PrincipalMapper">

    <!-- PRINCIPAL RESULTMAP -->
    <resultMap id="principalResultMap" type="principal">
        <id property="id" column="ID" jdbcType="INTEGER"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="username" column="USERNAME" jdbcType="VARCHAR"/>
        <result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
        <collection property="roles" ofType="role" columnPrefix="ROLE_">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <!-- PRINCIPAL SELECT -->
    <select id="selectByUsername" parameterType="string" resultMap="principalResultMap">
        SELECT
            users.ID,
            users.NAME,
            users.USERNAME,
            users.PASSWORD,
            roles.ID   AS ROLE_ID,
            ROLES.NAME AS ROLE_NAME
        FROM users
            join role_users
                on users.USERNAME = role_users.USERNAME
            join roles
                on role_users.NAME = roles.NAME
        WHERE users.USERNAME = #{username,jdbcType=VARCHAR}
              AND users.ENABLED = 1
              AND users.STATUS = 1
    </select>
</mapper>