<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kendo.admin.mapper.MenuMapper">

    <!-- MENU INSERT -->
    <insert id="insertIgnoreNull" parameterType="menu" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="@com.kendo.util.StringUtil@isNotEmpty(name)">NAME,</if>
            <if test="@com.kendo.util.StringUtil@isNotEmpty(label)">LABEL,</if>
            <if test="parentId!=null">PARENT_ID,</if>
            <if test="sort!=null">SORT,</if>
            <if test="@com.kendo.util.StringUtil@isNotEmpty(icon)">ICON,</if>
            <if test="@com.kendo.util.StringUtil@isNotEmpty(permission)">PERMISSION,</if>
            <if test="@com.kendo.util.StringUtil@isWhitespaceOrTrue(expanded)">EXPANDED,</if>
            <if test="isLeaf!=null">IS_LEAF,</if>
            <if test="enabled!=null">ENABLED,</if>
            <if test="visible!=null">VISIBLE,</if>
            <if test="createUser!=null">CREATE_ID,</if>
            <if test="@com.kendo.util.StringUtil@isNotEmpty(remark)">REMARK,</if>
            <if test="window!=null">WINDOW_ID</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="@com.kendo.util.StringUtil@isNotEmpty(name)">#{name,jdbcType=VARCHAR},</if>
            <if test="@com.kendo.util.StringUtil@isNotEmpty(label)">#{label,jdbcType=VARCHAR},</if>
            <if test="parentId!=null">#{parentId,jdbcType=INTEGER},</if>
            <if test="sort!=null">#{sort,jdbcType=INTEGER},</if>
            <if test="@com.kendo.util.StringUtil@isNotEmpty(icon)">#{icon,jdbcType=VARCHAR},</if>
            <if test="@com.kendo.util.StringUtil@isNotEmpty(permission)">#{permission,jdbcType=VARCHAR},</if>
            <if test="@com.kendo.util.StringUtil@isWhitespaceOrTrue(expanded)">#{expanded,jdbcType=VARCHAR},</if>
            <if test="isLeaf!=null">#{isLeaf,jdbcType=TINYINT},</if>
            <if test="enabled!=null">#{enabled,jdbcType=TINYINT},</if>
            <if test="visible!=null">#{visible,jdbcType=TINYINT},</if>
            <if test="createUser!=null">#{createUser.id,jdbcType=VARCHAR},</if>
            <if test="@com.kendo.util.StringUtil@isNotEmpty(remark)">#{remark,jdbcType=VARCHAR},</if>
            <if test="window!=null">#{window.id,jdbcType=INTEGER}</if>
        </trim>
    </insert>

    <!-- MENU UPDATE -->
    <update id="update" parameterType="menu">
        UPDATE menu
        <trim prefix="SET ">
            NAME = #{name,jdbcType=VARCHAR},
            LABEL = #{label,jdbcType=VARCHAR},
            PARENT_ID = #{parentId,jdbcType=INTEGER},
            SORT = #{sort,jdbcType=INTEGER},
            ICON = #{icon,jdbcType=VARCHAR},
            PERMISSION = #{permission,jdbcType=VARCHAR},
            EXPANDED = #{expanded,jdbcType=VARCHAR},
            IS_LEAF = #{isLeaf,jdbcType=TINYINT},
            ENABLED = #{enabled,jdbcType=TINYINT},
            'VISIBLE' = #{visible,jdbcType=TINYINT},
            REMARK = #{remark,jdbcType=VARCHAR},
            WINDOW_ID = #{window.id,jdbcType=INTEGER}
        </trim>
        WHERE ID = #{id,jdbcType=VARCHAR}
    </update>

    <!-- MENU DELETE -->
    <delete id="deleteByPrimaryKey" parameterType="string">
        DELETE FROM menu
        WHERE ID = #{id,jdbcType=VARCHAR}
    </delete>

    <!-- MENU RESULTMAP -->
    <resultMap id="menuResultMap" type="menu">
        <id property="id" column="ID" jdbcType="INTEGER"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="label" column="LABEL" jdbcType="VARCHAR"/>
        <result property="parentId" column="PARENT_ID" jdbcType="INTEGER"/>
        <result property="sort" column="SORT" jdbcType="INTEGER"/>
        <result property="icon" column="ICON" jdbcType="VARCHAR"/>
        <result property="permission" column="PERMISSION" jdbcType="VARCHAR"/>
        <result property="expanded" column="EXPANDED" jdbcType="VARCHAR"/>
        <result property="isLeaf" column="IS_LEAF" jdbcType="TINYINT"/>
        <result property="enabled" column="ENABLED" jdbcType="TINYINT"/>
        <result property="visible" column="VISIBLE" jdbcType="TINYINT"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <association property="createUser" column="CREATE_ID" javaType="user" columnPrefix="CREATE_">
            <id property="id" column="ID" jdbcType="VARCHAR"/>
            <result property="name" column="NAME" jdbcType="VARCHAR"/>
        </association>
        <association property="window" column="WINDOW_ID" javaType="window" columnPrefix="WINDOW_">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="name" column="NAME" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <!-- MENU SELECT -->
    <select id="selectMenuByUsername" parameterType="string" resultType="menu">
        SELECT DISTINCT
            menu.ID,
            menu.NAME,
            menu.ICON
        FROM menu, role_user ru,
            role_menu rm, role
        WHERE menu.ENABLED = 1
              AND menu.PARENT_ID = 1
              AND menu.ID = rm.MENU_ID
              AND ru.ROLE_ID = rm.ROLE_ID
              AND role.ENABLED = 1
              AND ru.USER_ID = #{ID,jdbcType=VARCHAR}
    </select>

    <select id="selectValidMenus" parameterType="long" resultType="menu">
        SELECT
            ID,
            NAME,
            ICON,
            PARENT_ID,
            IS_LEAF
        FROM menu
        WHERE ENABLED = 1
              AND PARENT_ID IS NOT NULL
              --         <![CDATA[AND scale <> 0]]>
              AND VISIBLE = 1
        ORDER BY PARENT_ID, SORT ASC
    </select>

    <select id="selectAll" resultMap="menuResultMap">
        SELECT
            menu.ID,
            menu.NAME,
            menu.LABEL,
            menu.PARENT_ID,
            menu.SORT,
            menu.PERMISSION,
            menu.ICON,
            menu.EXPANDED,
            menu.IS_LEAF,
            menu.WINDOW_ID,
            open_window.NAME AS WINDOW_NAME,
            menu.ENABLED,
            menu.VISIBLE,
            menu.CREATE_ID,
            user.NAME        AS CREATE_NAME,
            menu.CREATE_TIME,
            menu.REMARK
        FROM menu
            LEFT JOIN window open_window
                ON menu.WINDOW_ID = open_window.ID
            LEFT JOIN user
                ON menu.CREATE_ID = user.ID
    </select>

    <select id="selectByPrimaryKey" parameterType="long" resultMap="menuResultMap">
        SELECT
            menu.ID,
            menu.NAME,
            menu.LABEL,
            menu.PARENT_ID,
            menu.SORT,
            menu.PERMISSION,
            menu.ICON,
            menu.EXPANDED,
            menu.IS_LEAF,
            menu.WINDOW_ID,
            open_window.NAME AS WINDOW_NAME,
            menu.ENABLED,
            menu.VISIBLE,
            menu.CREATE_ID,
            create_user.NAME AS CREATE_NAME,
            menu.CREATE_TIME,
            menu.REMARK
        FROM menu
            LEFT JOIN window open_window
                ON menu.WINDOW_ID = open_window.ID
            LEFT JOIN user create_user
                ON menu.CREATE_ID = create_user.ID
        WHERE menu.ID = #{id,jdbcType=INTEGER}
    </select>

</mapper>