<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kendo.admin.mapper.MenuWindowMapper">

    <!--  MENU ITEM RESULTMAP -->

    <resultMap id="menuWindowMap" type="menuWindow">
        <id property="id" column="ID" jdbcType="INTEGER"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="icon" column="ICON" jdbcType="VARCHAR"/>
        <result property="parentId" column="PARENT_ID" jdbcType="INTEGER"/>
        <result property="sort" column="SORT" jdbcType="INTEGER"/>
        <result property="id_" column="WINDOW_ID" jdbcType="INTEGER"/>
        <result property="name_" column="WINDOW_NAME" jdbcType="VARCHAR"/>
        <result property="icon_" column="WINDOW_ICON" jdbcType="VARCHAR"/>
        <result property="model_" column="WINDOW_MODEL" jdbcType="VARCHAR"/>
        <result property="url_" column="WINDOW_URL" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- MENU WINDOW SELECT -->
    <select id="selectMenuWindowByMenuId" resultMap="menuWindowMap" parameterType="java.util.Map">
        SELECT DISTINCT
            menu.ID,
            menu.NAME,
            menu.ICON,
            menu.PARENT_ID,
            menu.SORT,
            window.ID    AS WINDOW_ID,
            window.NAME  AS WINDOW_NAME,
            window.ICON  AS WINDOW_ICON,
            window.MODEL AS WINDOW_MODEL,
            window.URL   AS WINDOW_URL
        FROM menu
            JOIN role_menu rm
                ON menu.ID = rm.MENU_ID
                   AND menu.ENABLED = 1
                   AND menu.VISIBLE = 1
                   AND rm.ROLE_ID IN
                       (
                           SELECT DISTINCT r.ID
                           FROM role_user ru, role r
                           WHERE ru.ROLE_ID = r.ID
                                 AND r.ENABLED = 1
                                 AND ru.USER_ID = #{userId,jdbcType=INTEGER}
                       )
            LEFT JOIN window
                ON menu.WINDOW_ID = window.ID
                   AND window.ENABLED = 1
                   AND window.VISIBLE = 1
        WHERE FIND_IN_SET(menu.ID, FN_GET_CHILD_BY_ID(#{menuId,jdbcType=INTEGER}))
    </select>

</mapper>