<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Kendo</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/vendor/kendo/styles/kendo.common.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/kendo/styles/kendo.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/kendo.common.css}">
    <script th:inline="javascript">
        var contextPath = /*[[${#servletContext.getContextPath()}]]*/ "";
        console.log("contextPath", contextPath);
    </script>
    <script th:src="@{/vendor/kendo/js/jquery.min.js}"></script>
    <script th:src="@{/vendor/kendo/js/kendo.all.min.js}"></script>
    <script th:src="@{/vendor/kendo/js/jszip.min.js}"></script>
    <script th:src="@{/vendor/kendo/js/messages/kendo.messages.zh-CN.min.js}"></script>
    <script th:src="@{/vendor/kendo/js/cultures/kendo.culture.zh-CN.min.js}"></script>
</head>
<body>
<!--<p th:text="${#servletContext.getContextPath()}"></p>-->
<!-- OUTER SPLITTER -->
<div id="outer-splitter">
    <!-- TOP REGION -->
    <header>
        <ul id="top-left-menu" style="position: absolute;left:0;">
            <li data-action="toggle-menu">
                <i class="fa fa-toggle-off"></i><span style="margin-left: 10px;">导航</span>
            </li>
        </ul>
        <ul id="top-right-menu" style="position: absolute;right: 0;">
            <li>
                <i class="fa fa-user-o"></i>
                <span style="margin-left: 6px;" sec:authentication="principal.username"></span>
                <ul>
                    <li data-action='user-info'><i class="fa fa-leaf"></i><span>个人信息</span></li>
                    <li data-action='user-agent'><i class="fa fa-leaf"></i><span>代理设置</span></li>
                </ul>
            </li>
            <li>
                <a th:href="@{/logout}"><i class="fa fa-sign-out"></i><span style="margin-left:6px;">退出</span></a>
            </li>
        </ul>
    </header>
    <!-- CENTER REGION -->
    <div id="inner-splitter">
        <!-- LEFT REGION -->
        <nav id="left-region">
            <!--<ul id="aside-menu">-->
            <ul id="aside-menu">
                <li th:each="menu : ${menus}" th:title="${menu.name}" th:data-id="${menu.id}">
                    <i th:class="${menu.icon}"></i>
                </li>
            </ul>
        </nav>
        <!-- CENTER REGION(INNER) -->
        <div id="center-region">
            <div id="main-tabstrip">
                <!-- TABSTRIP HEADER -->
                <ul>
                    <li><i class="fa fa-home">&nbsp;</i>功能导航</li>
                    <li><i class="fa fa-bars">&nbsp;</i>个人待办</li>
                </ul>
                <!-- TABSTRIP CONTENT -->
                <div>
                    <div id="menu-splitter">
                        <div>
                            <ul id="first-menu"></ul>
                        </div>
                        <div>
                            <ul id="second-menu"></ul>
                        </div>
                        <div>
                            <ul id="third-menu" style="margin-left: 1px;"></ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="task-grid" style="height: 100%;"></div>
                </div>
            </div>
        </div>
        <!-- RIGHT REGION -->
        <div>中部右边导航面板</div>
    </div>
    <!-- BOTTOM REGION -->
    <footer>
        <p th:text="${#request.getContextPath()}"></p>
        <p th:text="${#session.id}"></p>
        <p th:text="${#session.lastAccessedTime}"></p>
        <p th:text="${#servletContext.getContextPath()}"></p>
        <p th:text="${#servletContext.contextPath}"></p>
    </footer>
</div>

<script>
    $(function () {
        core.init();
    });
</script>

<script th:src="@{/js/kendo.common.js}"></script>
<script th:src="@{/js/kendo.core.js}"></script>

<script type="text/x-kendo-template" id="template">
    <div class="toolbar" style="float:right;">
        <label class="category-label" for="category">任务状态:</label>
        <input type="search" id="category" style="width: 150px"/>
    </div>
</script>

<!-- THIRD LEVEL MENU TEMPLATE -->
<script id="third-menu-tmpl" type="text/x-kendo-template">
    # data.forEach(function(menu){ #
    <li data-id='#= menu["id"] #' data-items-index='#= menu["index"] #' data-window-id='#menu["id_"]#'
        data-window-name='#= menu["name_"] #' data-window-icon='#= menu["icon_"] #'
        data-window-model='#= menu["model_"] #' data-window-url='#= menu["url_"] #'>
        <span style="margin-right: 10px;font-size: 1.2em;" class="#= menu['icon'] #"></span>#= menu['name'] #
    </li>
    # }); #
</script>
<!-- SECOND LEVEL MENU TEMPLATE -->
<script id="second-menu-tmpl" type="text/x-kendo-template">
    # data.forEach(function(menu){ #
    <li data-id="#= menu['id'] #" data-items-index="#= menu['index'] #">
        <span style="margin-right: 10px;font-size: 1.2em;" class="#= menu['icon'] #"></span>#= menu['name'] #
    </li>
    # }); #
</script>
<!-- FIRST LEVEL TEMPLATE -->
<script id="first-menu-tmpl" type="text/x-kendo-template">
    # data.forEach(function(menu){ #
    <li data-id="#= menu['id'] #" data-items-index="#= menu['index'] #">
        <span style="margin-right: 10px;font-size: 1.2em;" class="#= menu['icon'] #"></span>#= menu['name'] #
    </li>
    # }); #
</script>
</body>
</html>